#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  display: flex;
  justify-content: center;
}

/* Reset Styles */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #727d8d;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 20px;
}

.tab {
  margin-top: 0 15px;
  margin-bottom: 0 15px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  justify-content: center; /* Aligns all items to the center */
}

.tab.active {
  background-color: #3e5a9b ;
  pointer-events: none;
}

.tab.tab {
  color: #fff9eb;
  border-radius: 10px;
}

.tab-icon {
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
}

.tab:hover {
  background-color: #6a6f79;
  cursor: pointer;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

/* Logo styling */
.tabs-logo {
  width: 65px; /* Adjust size as needed */
  height: auto;
}

/* Supporting Text */
p {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #666;
}

a {
  color: hsl(215, 100%, 64%);
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

a:hover {
  color: #266dfc;
}

/* Headings */
h1 {
  font-size: 1.8rem;
  /* color: #333; */
  color: #384055;
  margin-bottom: 1rem;
}

/* Buttons */
button {
  padding: 0.75rem;
  background-color: #3e5a9b ;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #384055;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(73, 75, 120, 0.3);
}

input {
  color-scheme: light-only;
}

.chat-notifications {
  background-color: red;
  color: white;
  border-radius: 8px;
  margin-left: 5px;
  padding: 5px;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #555;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.attributes-input {
  
  .attributes-select {
    width: 500px;
    max-width: 90vh;
    text-align: left;
    color: black;
    margin-bottom: 20px;
  }
}