    .auth-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 100%;
        background-color: #fff9eb;
        border-radius: 10px;
    }
    .auth-container {
        display: flex;
        width: 90%;
        height: 58vh;
    }

    .auth-left {
        flex: 1;
        background-color: #fff9eb;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .welcome-text {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 50px;
        color: #384055; /* Adjust color as needed */
    }
      
    .auth-logo {
        max-width: 100%;
        height: auto;
        margin-bottom: 130px;
    }
      
    .auth-right {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff9eb;
    }


    /* Login and Signup Form Styles */
    .login-form, .signup-form {
        width: 100%;
        max-width: 400px;
        background-color: #fff9eb;
        padding: 2rem;
        border-radius: 8px;
        text-align: center;
    }

    /* Input Fields */
    input[type="text"], input[type="password"], input[type="email"] {
        width: 100%;
        padding: 0.75rem;
        margin: 0.5rem 0;
        border: 1px solid #f0eeec;
        border-radius: 4px;
        font-size: 1rem;
        box-sizing: border-box;
    }

    input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
        outline: none;
        border-color: #3e5a9b ;
        box-shadow: 0 0 0 2px rgba(100, 108, 255, 0.2);

    }

    input{
        background-color: #f0eeec;
        border-radius: 10px;
    }

    .auth-error-text {
        color: red;
    }

    button {
        margin-top: 1rem;
        width: 100%;
        border-radius: 10px;
    }
