.chat-page {
    font-family: Arial, sans-serif;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
  
  /* Chat Container Styles */
  .chat-container {
    border: 1px solid #ddd;
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    height: 100%;
  }
  
  .left-panel {
    width: 30%;
    border-right: solid;
    border-color: rgb(192, 192, 192);
    border-width: 1px;
    padding-left: 20px;
    padding-right: 20px;
    max-height: 80vh;
    overflow-y: auto;
    scrollbar-width: thin;
  }

  .right-panel {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    max-height: 80vh;
  }

  .message-container {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    scrollbar-width: thin;
    flex-grow: 1;
  }

  .input-container {
    height: 80px;
    display: flex;
    align-items: center;

    input {
      height: 25px;
      margin-left: 20px;
      margin-right: 5px;
      width: 100%;
      padding-left: 10px;
      border-radius: 10px;
    }

    button {
      background-color: #373737;
      margin-left: 5px;
      margin-right: 20px;
      height: 45px;
      width: 60px;
    }

  }
  
  .chat-project {
    padding: 5px;
  }

  .message-view {
    border-top: 5px;
    border: solid;
    background-color: darkgray;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px; 

    p, span {
      color: black;
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  .infinite-scroll {
    display: flex;
    flex-direction: column-reverse;
  }
}