/* Stuff for settings-page only */
.settings-page {
    font-family: Arial, sans-serif;
    width: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
  
  .settings-container {
    width: 90%; /* Takes up 90% of the screen width */
    max-width: 700px;
    background: #fff9eb;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    max-width: 90%; 
    margin-bottom: 30px;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #384055;
  }
  
  .section {
    margin-bottom: 40px;
  }
  
  h2 {
    font-size: 1.2rem;
    color: #727d8d; 
    margin-bottom: 15px;
    text-align: left;
  }
  
  .form-row {
    display: flex;
    gap: 50px;
    margin-bottom: 20px; /* Add spacing between rows */
  }
  
  .form-group {
    flex: 1;
  }
  
  .form-group label {
    font-size: 0.9rem;
    font-weight: bold;
    color: #727d8d; 
    display: block;
    margin-bottom: 5px;
    text-align: left; 
  }
  
  textarea,
  input,
  select {
    width: 100%;
    padding: 17px 10px;
    border: 2px solid #f0eeec;
    border-radius: 12px;
    font-size: 1rem;
    background-color: #f0eeec; 
    color: #333;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

  textarea {
    resize: none;
    height: 100px;
  }
  
  select {
    height: auto;
  }

  .settings-actions-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-top: 20px; 
  }
  
  .logout-actions {
    display: flex; 
    justify-content: flex-start; 
    gap: 10px;
  }
  
  .settings-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .cancel-btn,
  .save-btn,
  .log-out-btn,
  .undo-btn {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    cursor: pointer;
  }
  
  .cancel-btn {
    background-color: #ddd;
    color: black;
  }
  
  .save-btn {
    background-color: #3e5a9b ;
    color: white;
  }

  .undo-btn {
    background-color: #ddd;
    color: black;
  }
  
  .log-out-btn {
    background-color: #ddd;
    color: rgb(0, 0, 0);
  }

  .cancel-btn:hover {
    background-color: #bbb;
  }
  
  .save-btn:hover {
    background-color: #323c53;
  }

  .log-out-btn:hover {
    background-color: #f14444;
  }

  .undo-btn:hover {
    background-color: #bbb;
  }
}

/* navy: #384055
   creme: #fff9eb
   gray: #727d8d
   blue: #3e5a9b */